TDL/Connected Services/TodoListService/TodoListService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TodoListService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62638/TodoListService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62638/TodoListService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITodoListService_GetAllData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllData" />
  </wsdl:message>
  <wsdl:message name="ITodoListService_GetAllData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoListService_AddNewItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewItem" />
  </wsdl:message>
  <wsdl:message name="ITodoListService_AddNewItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewItemResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoListService_RemoveData_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveData" />
  </wsdl:message>
  <wsdl:message name="ITodoListService_RemoveData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoListService_ChangeStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStatus" />
  </wsdl:message>
  <wsdl:message name="ITodoListService_ChangeStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="ITodoListService">
    <wsdl:operation name="GetAllData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoListService/GetAllData" message="tns:ITodoListService_GetAllData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoListService/GetAllDataResponse" message="tns:ITodoListService_GetAllData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoListService/AddNewItem" message="tns:ITodoListService_AddNewItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoListService/AddNewItemResponse" message="tns:ITodoListService_AddNewItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoListService/RemoveData" message="tns:ITodoListService_RemoveData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoListService/RemoveDataResponse" message="tns:ITodoListService_RemoveData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoListService/ChangeStatus" message="tns:ITodoListService_ChangeStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoListService/ChangeStatusResponse" message="tns:ITodoListService_ChangeStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITodoListService" type="tns:ITodoListService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllData">
      <soap:operation soapAction="http://tempuri.org/ITodoListService/GetAllData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewItem">
      <soap:operation soapAction="http://tempuri.org/ITodoListService/AddNewItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveData">
      <soap:operation soapAction="http://tempuri.org/ITodoListService/RemoveData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeStatus">
      <soap:operation soapAction="http://tempuri.org/ITodoListService/ChangeStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TodoListService">
    <wsdl:port name="BasicHttpBinding_ITodoListService" binding="tns:BasicHttpBinding_ITodoListService">
      <soap:address location="http://localhost:62638/TodoListService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>